version : "3.7"

services:
  webui:
    build:
      context: ./
      dockerfile: Dockerfile
    restart: unless-stopped
    ports:
      - "3000:3000"
    environment:      
      NODE_ENV: 'production'
      NITRO_PORT: 3000
      NITRO_HOST : '0.0.0.0'